.container{
    width: 80%;
    z-index: 1;
    margin: 20px auto;
    padding: 10px 0;
    background-color: white;
}
.progressbar li{
    float: left;
    width: 20%;
    position: relative;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.4vh;
    color: #bbbbbb;
}

.progressbar svg{
    fill:currentColor;
    border-radius: 50%;
    background-color: white;
}

.progressbar li.active{
    color: #376FB3;
}

.progressbar{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.progressbar li:before{
    content: '';
    position: absolute;
    width:100%;
    height: 1px;
    background: #979797;
    top: 10px;
    left: -50%;
    z-index: -1;
    opacity: .8;
}

.progressbar li:first-child{
    color: #376FB3;
}

.progressbar li:first-child:before{
    content: none;
}

.progressbar li.active + li:before{
    background: #376FB3;
}

.progressbar li.active + li>svg,
.progressbar li.active + li{
    color: #376FB3;
}
