.Dropzone {
    height: 200px;
    width: 200px;
    background-color: #333333;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 16px;
    cursor: pointer;
    margin: 20px 0;
    box-shadow: 3px 3px 1vh #666666, -3px -3px 1vh #222222;
    color: white;
}

.Highlight {
    box-shadow: 3px 3px 1vh #222222, -3px -3px 1vh #666666;
}

.Icon {
    opacity: 0.3;
    height: 64px;
    width: 64px;
}

.FileInput {
    display: none;
}

.formDropzone input[type='submit']{
    cursor: pointer;
    border-radius: 20px;
    border: none;
    padding: 15px 25px;
    background-color: #333333;
    color: white;
    box-shadow: 3px 3px 1vh #666666, -3px -3px 1vh #222222;
}

.formDropzone input[type='submit']:hover{
    box-shadow: 3px 3px 1vh #222222, -3px -3px 1vh #666666;
}
